* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF4111;
    --secondary-color: #2C3E50;
    --accent-color: #3498DB;
    --text-color: #2C3E50;
    --light-gray: #F8F9FA;
    --border-color: #E9ECEF;
    --white-color: #FFFFFF;
    --hover-btn: rgba(255, 255, 255, 0.1);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    background-color: var(--light-gray);
    line-height: 1.6;
    /*altura da linha*/
}

header {
    background-color: var(--white-color);
    padding: 16px 32px;
    /*espaço dentro*/
    display: flex;
    align-items: center;
    /*alinhamento vertical*/
    justify-content: space-around;
    /*espaçamento entre os itens*/
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    /*espaçamento entre logo e texto*/
}

h1 {
    font-size: 32px;
    /*tamanho do texto*/
    color: var(--primary-color);
    font-weight: bold;
    /*negrito gorossura do texto*/
}

.fa-bolt {
    color: var(--primary-color);
    font-size: 32px;
}

.container-busca {
    width: 100%;
    /*largura do container*/
    max-width: 500px;
    margin: 0 32px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--light-gray);
    border-radius: 24px;
    /*borda aredondada*/

}

.container-busca input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--light-gray);
    padding: 8px;
    font-size: 16px;
}

.fa-magnifying-glass {
    color: var(--primary-color);
}

.container-categorias {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
}

.container-categorias nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 1200px;
    padding: 8px 32px;
}

.botao-categorias {
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    border-radius: 24px;
    color: var(--white-color);
    background: none;
    padding: 12px 24px;
    cursor: pointer;
}

.botao-categorias:hover {
    background-color: var(--hover-btn);
}

.botao-categorias.ativo {
    background-color: var(--primary-color);
}

.secao-hero {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    /*alinhamento de texto*/
    padding: 48px 32px;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 64%, rgba(252, 176, 69, 1) 100%);
}

.secao-hero {
    background-color: #000; /* ou qualquer fundo desejado */
    color: #fff;
    padding: 80px 20px;
    text-align: center;
    font-family: sans-serif;
}

.animar-letras span {
    display: inline-block;
    animation: flutuar 2s ease-in-out infinite;
}

@keyframes flutuar {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.animar-paragrafo {
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 2s;
    margin-top: 20px;
    font-size: 1.2em;
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}




footer {
    background-color: var(--secondary-color);
    color: var(--white-color);
    text-align: center;
    padding: 32px;

}

.produtos {
    width: 100%;
    max-width: 1200px;
    padding: 32px;
    margin: 0 auto;
}

.produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
    gap: 20px;
}

.cartao-produto {
    background-color: var(--white-color);
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}

.cartao-produto:hover {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transform: translateY(-16px);

}

.imagem-produto {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.info-produto {
    padding: 16px;
}

.nome-produto {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}

.descricao-produto {
    font-size: 13px;
    margin-bottom: 12px;
}

.preco-produto {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 12px;
    font-weight: bold;
}

.botao-produto {
    width: 100%;
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
    padding: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s;
}

.botao-produto:hover {
    background-color: #6eacd4;
}

